@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,200&display=swap');

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}
:root
{
    --card-height: 60vh;
    --card-width: calc(var(--card-height) / 1.5);
    --bg-black-900: #222831;
    --bg-black-100: #EEEEEE;
    --bg-black-50 : #00ADB5;
    --text-black-900: #393E46;
    --text-black-700: #EEEEEE ;
}
body
{
  line-height: 1.5;
  font-size: 15px;
  font-family: 'poppins' 'sans-serif';

}

*
{
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

::before,::after
{
  box-sizing: border-box;
}
ul{
  list-style: none;
}

.section
{
  background: var(--bg-black-900);
  min-height: 100vh;
  display: block;
  padding: 0 30px;
  opacity: 1;
  position: fixed;
  left: 270px;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.3s ease;
}
.section.back-section
{
    z-index: 1;
}

.section.active
{
    z-index: 2;
    opacity: 1;
    animation: slideSection 1s ease;
    -webkit-animation: slideSection 1s ease;
}
@keyframes slideSection
{
    0%
    {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
    }
    100%
    {
      transform: translateX(0%);
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
    }
}

.hidden
{
  display: none !important;
}
.padd-15
{
  padding-left: 15px;
  padding-right: 15px;
}

.container
{
  max-width: 1000px;
  width: 100%;
  margin: auto;
}
.section .container
{
  padding-top: 60px;
  padding-bottom: 70px;
}
.section-title
{
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
}
.section-title h2
{
  font-size: 40px;
  color: var(--bg-black-100);
  font-weight: 700;
  position: relative;
}
.section-title h2::before
{
  content: '';
  height: 4px;
  width: 125px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
}
.section-title h2::after
{
  content: '';
  height: 4px;
  width: 65px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
}
.row
{
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}

.btn
{
  font-family: 'poppins';
  font-size: 18px;
  font-weight: 100;
  padding: 12px 35px;
  color: #EEEEEE;
  border-radius: 40px;
  display: inline-block;
  white-space: nowrap;
  border: none;
  background: var(--skin-color);
  transition: 0.3s ease;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.btn:hover
{
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

/* aside styling */
.aside
{
  width: 270px;
  background: var(--bg-black-100);
  position: fixed;
  left: 0;
  top:  0;
  padding: 30px;
  height: 100%;
  border-right: 1px solid var(--bg-black-50);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.aside .logo
{
  position: absolute;
  top: 50px;
  font-size: 30px;
  text-transform: capitalize;
}
.aside .logo a
{
  color: var(--text-black-900);
  font-weight: 700;
  padding: 15px 20px;
  font-size: 30px;
  letter-spacing: 5px;
  position: relative;
}
.aside .logo a span 
{
  font-family: 'poppins', cursive;
  font-size: 40px;
}
.aside .logo a::before
{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid var(--skin-color);
  border-left: 5px solid var(--skin-color);
  bottom: 0;
  left: 0;
}
.aside .logo a::after
{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-top: 5px solid var(--skin-color);
  border-right: 5px solid var(--skin-color);
  top: 0;
  right: 0;
}

.aside .nav-toggler
{
  height: 40px;
  width: 45px;
  border: 1px solid var(--bg-black-50);
  cursor: pointer;
  position: fixed;
  left: 300px;
  top: 20px;
  border-radius: 5px;
  background: var(--bg-black-900);
  display: none;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.aside .nav-toggler span
{
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  display: inline-block;
  position: relative;
}
.aside .nav-toggler.open span
{
    background-color: transparent;
}
.aside .nav-toggler.open span::before
{
    transform: rotate(45deg);
    top: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.aside .nav-toggler span::before
{
  content: '';
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: -6px;
  left: 0;
}

.aside .nav-toggler span::after
{
  content: '';
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: 6px;
  left: 0;
}
.aside .nav-toggler.open span::after
{
    transform: rotate(-45deg);
    top: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.aside .nav
{
  margin-top: 50px;
}

.aside .nav li
{
  margin-bottom: 20px;
  display: block;
}

.aside .nav li a 
{
  font-size: 14px;
  font-weight: 600;
  display: block;
  border-bottom: 1px solid var(--bg-black-50);
  color: var(--text-black-900);
  padding: 5px 15px;
  font-family: 'poppins';
}

.aside .nav li a.active
{
  color: var(--skin-color);
}

.aside .nav li a i 
{
  margin-right: 15px;
}
/* home */
.home
{
  min-height: 100vh;
  display: flex;
  color: var(--text-black-700);
  font-family: 'poppins';
}
.home .home-info
{
  flex: 0 0 60%;
  max-width: 60%;
}
h3.hello 
{
  font-size: 25px;
  margin: 15px 0;
}
h3.hello span
{
  font-family:'poppins';
  font-size: 25px;
  font-weight: 700;
  color: var(--skin-color);
}
h3.profesi
{
  font-size: 30px;
  margin: 15px 0;
}

.typing{
  color: var(--skin-color);
  font-family: 'poppins';
}
.home-info p {
  text-align:justify;
  margin-bottom: 40px;
  font-size: 17px;
  color: var(--text-black-700);

}

.home .home-img
{
  flex: 0 0 40%;
  max-width: 40%;
  text-align: center;
  position: relative;
}

.home-img::after
{
  content: '';
  position: absolute;
  height: 80px;
  width: 80px;
  border-bottom: 10px solid var(--skin-color);
  border-right: 10px solid var(--skin-color);
  right: 20px;
  bottom: -40px;
}

.home-img::before
{
  content: '';
  position: absolute;
  height: 80px;
  width: 80px;
  border-top: 10px solid var(--skin-color);
  border-left: 10px solid var(--skin-color);
  left: -20px;
  top: -40px;
}

.home .home-img img 
{
  margin: auto;
  border-radius: 75px;
  height: 400px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  -ms-border-radius: 75px;
  -o-border-radius: 75px;
}
/* About styling start */
.about .about-content
{
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about-content .about-text
{
  flex: 0 0 100%;
  max-width: 100%;
  font-family: 'poppins';
}
.about .about-content .about-text h3 
{
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700;
  color: var(--text-black-700);
}
.about .about-content .about-text h3 span
{
  color: var(--skin-color);
}
.about .about-content .about-text p
{
  font-size: 18px;
  line-height: 25px;
  color: var(--text-black-700);
}
.about .about-content .personal-info
{
  flex: 0 0 60%;
  max-width: 60%;
  margin-top: 40px;
  font-family: 'poppins';
}
.about .about-content .personal-info .info-item
{
  flex: 0 0 50%;
  max-width: 50%;
}
.about .about-content .personal-info .info-item p
{
  font-weight: 600;
  padding: 10px 0;
  font-size: 16px;
  color: var(--text-black-700);
  border-bottom: 1px solid var(--bg-black-50);
}
.about .about-content .personal-info .info-item span
{
  font-weight: 400;
  color: var(--text-black-700);
  margin-left: 4px;
  display: inline-block;
}
.about .about-content .personal-info .buttons
{
    margin-top: 30px;
}
.about .about-content .personal-info .buttons .btn
{
    margin-right: 15px;
    margin-top: 15px;
}
.about .about-content .skills
{
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;
}
.about .about-content .skills .skill-item
{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .skills .skill-item h5
{
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: var(--bg-black-100);
    text-transform: capitalize;
}
.about .about-content .skills .skill-item .progress
{
    background-color: var(--bg-black-100);
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.about .about-content .skills .skill-item
{
  margin-bottom: 25px;
}
.about .about-content .skills .skill-item .progress .progress-in
{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: var(--skin-color);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.about .about-content .skills .skill-item .skill-percent
{
    position: absolute;
    right: 0;
    color: var(--bg-black-100);
    top: -40px;
    font-weight: 400;
    line-height: 40px;
}
/* latarbelakang styling */
.latarbelakang .latarbelakang-content
{
  flex: 0 0 100%;
  max-width: 100%;
}
.latarbelakang .latarbelakang-content .latarbelakang-text
{
  flex: 0 0 100%;
  max-width: 100%;
}
.latarbelakang .latarbelakang-content .latarbelakang-text p
{
  text-align: justify;
  font-size: 18px;
  line-height: 25px;
  color: var(--text-black-700);
  font-family: 'poppins';
}

/* rumusan masalah styling */
.card {
  background: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive;
}
.card:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}
.card:hover:before, .card:hover:after {
  animation: none;
  opacity: 0;
}


.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
/* tujuan */
.tujuan .container
{
  padding-bottom: 40px;
}
.tujuan .tujuan-item 
{
  margin-bottom: 30px;
  flex: 0 0 33.33%;
  max-width: 33.33%;
  display: flex;
  font-family: 'poppins' ;
}
.tujuan .tujuan-item .tujuan-item-inner
{
  background-color: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  border-radius: 75px;
  padding: 30px 15px;
  text-align: center;
  transition: all 0.3s ease;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  -ms-border-radius: 75px;
  -o-border-radius: 75px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.tujuan .tujuan-item .tujuan-item-inner:hover
{
  box-shadow: 0 0 20px var(--skin-color);
}
.tujuan .tujuan-item .tujuan-item-inner .icon
{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 30px;
  text-align: center;
  transition: all 0.3s ease;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.tujuan .tujuan-item .tujuan-item-inner .icon .fa-solid
{
  color: var(--skin-color);
  font-size: 40px;
  line-height: 60px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.tujuan .tujuan-item .tujuan-item-inner:hover .icon
{
  background: var(--skin-color);
}
.tujuan .tujuan-item .tujuan-item-inner:hover .icon .fa-solid
{
  font-size: 25px;
  color: #EEEEEE;
}
.tujuan .tujuan-item .tujuan-item-inner p 
{
  font-size: 17px;
  color: var(--text-black-900);
  line-height: 25px;
}
/* alur */
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|PT+Sans+Narrow:700&display=swap');
header:after, #timeline .timeline-item:after, header:before, #timeline .timeline-item:before {
	 content: '';
	 display: block;
	 width: 100%;
	 clear: both;
}
 *, *:before, *:after {
	 box-sizing: border-box;
	 -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
}
.project-name {
  text-align: center;
  padding: 10px 0;
}
#timeline {
  width: 100%;
  margin: 30px auto;
  position: relative;
  padding: 0 10px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#timeline:before {
  content: "";
  width: 3px;
  height: 100%;
  background: #ee4d4d;
  left: 50%;
  top: 0;
  position: absolute;
}
#timeline:after {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}
#timeline .timeline-item {
  margin-bottom: 50px;
  position: relative;
}
#timeline .timeline-item .timeline-icon {
  background: #ee4d4d;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  margin-left: -23px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#timeline .timeline-item .timeline-icon {
  position: relative;
  top: 50px;
  color: #000;
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center center;
}
#timeline .timeline-item .timeline-content {
  width: 45%;
  background: #fff;
  padding: 20px;
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#timeline .timeline-item .timeline-content h2 {
  padding: 15px;
  background: #ee4d4d;
  color: #fff;
  margin: -20px -20px 0 -20px;
  font-weight: 300;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 2px;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
#timeline .timeline-item .timeline-content p {
  font-family: helvetica, arial, tahoma, verdana;
  line-height: 20px;
	font-size: 18px;
  color: #726f77;
  text-align: center;
}


#timeline .timeline-item .timeline-content:before {
  content: '';
  position: absolute;
  left: 45%;
  top: 70px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #ee4d4d;
}
#timeline .timeline-item .timeline-content.right {
  float: right;
}
#timeline .timeline-item .timeline-content.right p{
  font-family: helvetica, arial, tahoma, verdana;
  line-height: 20px;
	font-size: 18px;
  color: #726f77;
  text-align:center;
}

#timeline .timeline-item .timeline-content.right:before {
  content: '';
  right: 45%;
  left: inherit;
  border-left: 0;
  border-right: 7px solid #ee4d4d;
}
/* alur */
/* keaslian penelitian styling */
.keaslianpenelitian .keaslianpenelitian-content
{
  flex: 0 0 100%;
  max-width: 100%;
}
.keaslianpenelitian .keaslianpenelitian-content .keaslianpenelitian-text
{
  flex: 0 0 100%;
  max-width: 100%;
}
.keaslianpenelitian .keaslianpenelitian-content .keaslianpenelitian-text p
{
  text-align: justify;
  font-size: 20px;
  line-height: 25px;
  color: var(--text-black-700);
  font-family: 'poppins';
}

/* responsive */
@media (max-width :1199px)
{
  .section .container
  {
      padding-top: 75px;
  }
  .aside
  {
    left: -270px;
  }
  .aside.open
  {
      left: 0;
  }
  .aside .nav-toggler
  {
      display: flex;
      left: 30px;
  }
  .aside .nav-toggler.open
  {
      left: 300px;
  }
  .section
  {
      left: 0;
  }
.section.open
{
    left: 270px;
}
  .about .about-content .personal-info .info-item p span
  {
    display: block;
    margin-left: 0;
  }
}

@media (max-width : 991px)
{
  .keaslianpenelitian,
  .keaslianpenelitian-content,
  .keaslianpenelitian-text,
  .tujuan .tujuan-item
  {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .home .home-info
  {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .home .home-img
  {
    display: none;
  }
}

@media (max-width : 767px)
{
  .keaslianpenelitian,
  .keaslianpenelitian-content,
  .keaslianpenelitian-text,
  .tujuan .tujuan-item,
  .about .about-content,
  .about .about-content .skills,
  .about .about-content .personal-info

  {
    flex: 0 0 100%;
    max-width:  100%;
  }
  @media screen and (max-width: 768px) {
    #timeline {
      margin: 30px;
      padding: 0px;
      width: 90%;
   }
    #timeline:before {
      left: 0;
   }
    #timeline .timeline-item .timeline-content {
      width: 90%;
      float: right;
   }
    #timeline .timeline-item .timeline-content:before, #timeline .timeline-item .timeline-content.right:before {
      left: 10%;
      margin-left: -6px;
      border-left: 0;
      border-right: 7px solid #ee4d4d;
   }
    #timeline .timeline-item .timeline-icon {
      left: 0;
   }
 }
}