.style-switcher
{
    position: fixed;
    right: 0;
    top: 25px;
    padding: 15px;
    width: 200px;
    border: 1px solid var(--bg-black-50);
    background: var(--bg-black-900);
    z-index: 101;
    border-radius: 5px;
    transition: all 0.3s ease;
    transform: translateX(100%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
}
.style-switcher.open
{
    transform: translateX(-25px);
    -webkit-transform: translateX(-25px);
    -moz-transform: translateX(-25px);
    -ms-transform: translateX(-25px);
    -o-transform: translateX(-25px);
}
.style-switcher .s-icon
{
    position: absolute;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    background: var(--bg-black-50);
    color:var(--text-black-900);
    right: 100%;
    border: 1px solid var(--bg-black-900);
    margin-right: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.style-switcher .s-icon i
{
    line-height: 40px;
}
.style-switcher .style-switcher-toggler
{
    top: 0;
}
.style-switcher .day-night
{
    top: 55px;
}
.style-switcher h4
{
    margin: 0 0 10px;
    color: var(--bg-black-50);
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    font-family: 'poppins';
}
.style-switcher .colors
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.style-switcher .colors span
{
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.style-switcher .color-1
{
    background: #00ADB5;
}
.style-switcher .color-2
{
    background: #fa5b0f;
}
.style-switcher .color-3
{
    background: #37b182;
}
.style-switcher .color-4
{
    background: #1854b4;
}
.style-switcher .color-5
{
    background: #f021b2;
}
/* done */